# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Virtual environment
venv/
.venv/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py

# Data files
data/raw/
data/trusted/
data/refined/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker
*.pid